/* Carousel styles */
.carousel-inner {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    padding: 1rem;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 420px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 1rem;
    margin: 1rem;
    min-height: 450px;
  }
  
  .carousel-image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative; /* Add position: relative to the image container */
  }
  
  .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Change object-fit from contain to cover */
    position: absolute;
  }
  
  .carousel-control {
    cursor: pointer;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 0.5rem;
    display: none;
  }
  
  .carousel-btn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
  }
  
  .carousel-caption {
    padding: 1rem;
    border-radius: 5px;
    color: white;
    position: relative;
  }
  
  /* Default light mode styles */
  body {
    background-color: #ffffff;
    color: #333333;
  }
  
  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    body {
      background-color: #333333;
      color: #ffffff;
    }
  
    .carousel-caption {
      background: rgba(255, 255, 255, 0.5);
      color: #333333;
    }
  }
  
  .calendar-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  