@font-face {
  font-family: 'Poppins_Bold';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins_Light';
  src: url('/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins_ExtraLight';
  src: url('/fonts/Poppins-ExtraLight.ttf') format('truetype');
}

body {
  font-family: 'Poppins_Bold', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
}

.logo img {
  height: 50px;
  width: auto;
}

nav {
  position: relative;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  color: #f4a460;
}

.hamburger {
  display: none;
  color: #fff;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('hero.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

h1, h5 {
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.cta-btn {
  background-color: #f4a460;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  padding: 1rem;
  text-align: center;
  background-color: #333;
  color: #fff;
}

.footer-links a, .social-media a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}

.footer-links a:hover, .social-media a:hover {
  color: #f4a460;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    gap: 0;
    background-color: #333;
    width: 100%;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

.carousel {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: #222;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  max-width: 420px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .carousel-card {
    max-width: 320px;
  }
}

@media (max-width: 480px) {
  .carousel-card {
    max-width: 280px;
  }
}

.carousel-card:hover {
  transform: scale(0.98);
}

.carousel-image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.carousel-caption {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  text-align: left;
}

.carousel-item {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
}

.carousel img {
  max-height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.carousel-btn {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

body {
  background-color: #ffffff;
  color: #333333;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333333;
    color: #ffffff;
  }

  .carousel-caption {
    background: rgba(255, 255, 255, 0.5);
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

